@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,500;0,700;1,400&display=swap");
:root {
   font-family: "Roboto", sans-serif;
   line-height: 1.5;
   font-weight: 400;

   --primary: #34b494;
   --primary-medium: rgba(0, 175, 145, 0.56);

   font-synthesis: none;
   text-rendering: optimizeLegibility;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
   -webkit-text-size-adjust: 100%;
}
body {
   box-sizing: border-box;
}
